body {
    padding: 0;
    margin: 0;
  }
  
  header {
    width: 100%;
    height: 50px;
  }
  
  header > p {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
    margin: 20px 30px;
  }
  
  main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0 30px;
  }
  
  figure,
  section {
    flex-basis: 40%;
  }
  
  figure img {
    width: 100%;
    min-width: 286.83px;
    max-width: 539.22px;
  }
  
  section h1 {
    font-family: "Space Mono", monospace;
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #333333;
    width: 100%;
  }
  
  section p {
    font-family: "Space Mono", monospace;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #4f4f4f;
    width: 75%;
  }
  
  section button {
    width: 216px;
    height: 68px;
    background-color: #333333;
    border: none;
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  footer {
    width: 100%;
    margin-top: 100px;
  }
  
  footer > p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #bdbdbd;
  }
  
  footer p a {
    color: inherit;
    text-decoration: none;
  }
  
  footer p span {
    text-decoration: underline;
    font-weight: 700;
  }
  
  a:hover {
    color: #333333;
  }

@media (min-width: 375px) {
    section {
        padding-left: 20px;
    }
    section h1 {
        font-size: 48px;
    }
    section p {
        font-size: 18px;
    }
}